Webscraping_newsletter.json
{
  "name": "Scraping sample",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        0
      ],
      "id": "aa8a57a0-299b-44ad-a775-db3944c87aaa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        272,
        0
      ],
      "id": "840abd2a-a238-4568-b19a-4627a0728452",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        -96
      ],
      "id": "4ee25636-a9db-4d51-95ac-c76eaa1e14e0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "text": "={{ $json.data.html }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"noticias\": [\n    {\n      \"titulo\": \"El MINSA lanza nueva campaña contra la anemia infantil\",\n      \"autor\": \"Redacción MINSA\",\n      \"fecha\": \"2025-06-18\",\n      \"resumen\": \"El Ministerio de Salud del Perú ha iniciado una nueva campaña nacional para reducir los índices de anemia en niños menores de cinco años. Esta iniciativa busca llegar a comunidades rurales con atención médica especializada, suplementación de hierro y talleres de orientación para padres y cuidadores. Además, se trabajará de forma coordinada con gobiernos locales y organizaciones sociales para asegurar una mayor cobertura y sostenibilidad en el tiempo.\",\n      \"url\": \"https://www.gob.pe/institucion/minsa/noticias/793210-minsa-lanza-campana-anemia-2025\",\n      \"imagen\": \"https://cloudfront-us-east-1.images.arcpublishing.com/elcomercio/XXXXXX-campaña-anemia.jpg\"\n    },\n    {\n      \"titulo\": \"La FAO advierte sobre el aumento del hambre en América Latina\",\n      \"autor\": \"Oficina Regional FAO\",\n      \"fecha\": \"2025-06-17\",\n      \"resumen\": \"Un nuevo informe de la FAO señala que el hambre ha vuelto a aumentar en varios países de América Latina debido a factores como el cambio climático, los conflictos sociales y la inseguridad alimentaria. El documento propone medidas urgentes como el fortalecimiento de sistemas alimentarios sostenibles, el apoyo a pequeños agricultores y la mejora de las políticas de nutrición pública para revertir esta tendencia preocupante.\",\n      \"url\": \"https://www.fao.org/americas/noticias/detail/fao-alerta-hambre-2025/es\",\n      \"imagen\": \"https://www.fao.org/fileadmin/templates/fao/images/newsroom/latin-america-hunger-report-2025.jpg\"\n    },\n    {\n      \"titulo\": \"OMS publica guía para mejorar la alimentación infantil en zonas vulnerables\",\n      \"autor\": \"Departamento de Nutrición OMS\",\n      \"fecha\": \"2025-06-16\",\n      \"resumen\": \"La Organización Mundial de la Salud ha lanzado una guía orientada a gobiernos y organizaciones que trabajan en contextos vulnerables. El documento ofrece recomendaciones prácticas para garantizar una nutrición adecuada en niños pequeños, considerando factores culturales, económicos y de acceso. Se destaca la importancia de las prácticas de lactancia materna, el uso de alimentos fortificados y la educación nutricional como pilares clave.\",\n      \"url\": \"https://www.who.int/es/news/item/16-06-2025-guia-nutricion-infantil\",\n      \"imagen\": \"https://www.who.int/images/default-source/child-nutrition-vulnerables.jpg\"\n    }\n  ]\n}\n",
        "options": {
          "systemPromptTemplate": "=Eres un agente que recibe un html de una web scrapeada y debes devolver un json valido y puro solo de la noticia mas relevante en temas de salud y nutricion. Esta noticia debe ser la mas actual con no menos a un dia de antiguedad. la fecha actual es: {{ $('Schedule Trigger').item.json.timestamp }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1024,
        -96
      ],
      "id": "d0557997-b6ee-41ec-aa0a-4ead359e6a8a",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        144
      ],
      "id": "c4a29148-07ce-4cfd-8598-61d04a8667b3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bWIXdkYAI1mez6zQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Default",
        "operation": "Scrape A Url And Get Its Content",
        "url": "={{ $json.url }}",
        "formats": [
          "html"
        ],
        "requestOptions": {}
      },
      "type": "n8n-nodes-firecrawl.fireCrawl",
      "typeVersion": 1,
      "position": [
        864,
        0
      ],
      "id": "e04565bf-def6-4bb0-a4a0-57d1c7d0a739",
      "name": "FireCrawl",
      "credentials": {
        "fireCrawlApi": {
          "id": "SAvnmxLJpjE4Wxc9",
          "name": "FireCrawl account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Titulo:  {{ $json.output.noticias[0].titulo }}\nFecha:{{ $json.output.noticias[0].fecha }}\nResumen: {{ $json.output.noticias[0].resumen }}\nurl:{{ $json.output.noticias[0].url }}\n",
        "options": {
          "systemMessage": "Eres un agente que recibe datos sobre una noticia relevante y elaboras un resumen de 100 palabras máximo para enviar a los usuarios. Siempre debes investigar más sobre la noticia, por ello debes de acceder a la URL usando la herramienta SerpApi para hacer búsquedas. Puedes usar emojis para llamar la atención.\nAl final brindas la URL para que el usuario pueda acceder a la noticia e indicas la fecha de la noticia también.\n\nEl lenguaje debe ser claro, simple y fácil de entender.\n\nEvita usar términos muy complejos, muy formales o muy coloquiales."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1200,
        128
      ],
      "id": "b27dada1-7b7c-4d8f-ae42-416ac8b6b47b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        304
      ],
      "id": "7e63b817-ec83-466d-ad44-b80af8d03394",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "bWIXdkYAI1mez6zQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.output.noticias[0].url }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1248,
        304
      ],
      "id": "4a64ba59-6f58-4ea6-9177-7a162c250ecf",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "Chatbot",
        "remoteJid": "={{ $('set number').item.json.Telefono }}",
        "media": "={{ $('Information Extractor').item.json.output.noticias[0].imagen }}",
        "caption": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1504,
        -64
      ],
      "id": "850ee127-b210-4ae6-86df-8d973c5ec073",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "a3VoDWsEGwB67PMg",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1360,
        304
      ],
      "id": "42bb42d1-88b6-4cc2-a625-3c3551ed75d1",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "ZGbeqLNSitREpLw6",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kcpDMGNkuNdOml8dmNlQpaR5y3LDkUzkcCTmmslp2M4",
          "mode": "list",
          "cachedResultName": "datos grupo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kcpDMGNkuNdOml8dmNlQpaR5y3LDkUzkcCTmmslp2M4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kcpDMGNkuNdOml8dmNlQpaR5y3LDkUzkcCTmmslp2M4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -208,
        0
      ],
      "id": "c9f3818e-4a07-4580-88b5-68d918bec227",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UOWPZoYPApny206m",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0cb6be8-4b36-4421-bbbb-2c573dec2606",
              "name": "Telefono",
              "value": "=51{{ $json.Telefono }}@s.whatsapp.net",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        0
      ],
      "id": "181cba7e-5f4f-4bcc-b17b-6dcc0f085b60",
      "name": "set number"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"urls\": [\n    {\n      \"nombre\": \"Ministerio de Salud (Perú)\",\n      \"idioma\": \"español\",\n      \"url\": \"https://www.gob.pe/institucion/minsa/noticias\"\n    },\n    {\n      \"nombre\": \"Organización de las Naciones Unidas para la Alimentación y la Agricultura\",\n      \"idioma\": \"español\",\n      \"url\": \"https://www.fao.org/newsroom/es\"\n    },\n    {\n      \"nombre\": \"Organización Mundial de la Salud\",\n      \"idioma\": \"español\",\n      \"url\": \"https://www.paho.org/es/noticias/notas-prensa\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        0
      ],
      "id": "6cfa130a-9bb3-40b4-940e-779528a9aaf5",
      "name": "set urls"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "25cbd3d2-6450-476b-867b-943f05c613f8",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1744,
        304
      ],
      "id": "c6000707-6683-4aed-bc97-1d250e7e149c",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2c7e3c6-71aa-4feb-9b7d-a23b5bd17ca2",
              "leftValue": "={{ $('set number').item.json.Telefono }}",
              "rightValue": "9",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        0
      ],
      "id": "463c92f8-234b-4e71-8008-160ca17bba48",
      "name": "contain9"
    },
    {
      "parameters": {
        "jsCode": "const min = 4.0;\nconst max = 8.0;\nconst delay = (Math.random()*(max - min) + min).toFixed(2);\nreturn [{\n  json: {\n    delay_sec: parseFloat(delay)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -64
      ],
      "id": "04089bb3-94fd-4dbf-b7c5-12f45986d409",
      "name": "Code"
    },
    {
      "parameters": {
        "amount": "={{ $json.delay_sec }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1824,
        -64
      ],
      "id": "0252ad2d-b954-4155-b21c-005d712b6342",
      "name": "Wait",
      "webhookId": "db8b09d3-4835-4840-a7f7-ebc4ee84d32d"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "contain9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "FireCrawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "FireCrawl": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "set number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set number": {
      "main": [
        [
          {
            "node": "set urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set urls": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contain9": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Lima",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2cf4a3a0-b528-4f9b-8735-f75b2addd253",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0fe3d5bb008e5b96b18c215374c11f23ad8bf5bbd0a5b6ebd2b2dd15ce224b38"
  },
  "id": "o7F0VWEBtfqaLDZZ",
  "tags": []
}
